<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess | Vue</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="game">
        <div id="game-view">
            <div id="game-view-info">
                {{ infoMessage }}
            </div>
            <div id="game-view-squares">
                <div
                    v-for="(square, i) in activeGame.squares"
                    @click="activeGame.makeMove(i)"
                    class="game-view-square"
                    v-bind:class="{ highlighted: square.isHighlighted }"
                    v-html="square.piece.symbol">
                </div>
            </div>
        </div>
        <div id="game-moves">
            <div id="game-moves-info">
                {{ msg }}
            </div>
            <div id="game-moves-made">
                <div 
                    v-for="(moves, i) in activeGame.movesMade"
                    class="game-move-made">
                    {{ i + 1 }}) {{ moves }}
                </div>
            </div>
            <div
                v-if="activeGame.promotion"
                id="pawn-promotion">
                <div
                    v-if="activeGame.squares[activeGame.promotedPiece].piece.color === 'Black'"
                    id="pawn-promotion-black">
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Queen')">&#9819</button>
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Knight')">&#9822</button>
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Rook')">&#9820</button>
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Bishop')">&#9821</button>
                </div>
                <div 
                    v-if="activeGame.squares[activeGame.promotedPiece].piece.color === 'White'"
                    id="pawn-promotion-white">
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Queen')">&#9813</button>
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Knight')">&#9816</button>
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Rook')">&#9814</button>
                    <button class="promotion-option" @click="activeGame.pawnPromotion('Bishop')">&#9815</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/Square.js"></script>
    <script src="js/Game.js"></script>
    <script src="js/Piece.js"></script>
    <script src="js/Pawn.js"></script>
    <script src="js/Rook.js"></script>
    <script src="js/Bishop.js"></script>
    <script src="js/Knight.js"></script>
    <script src="js/King.js"></script>
    <script src="js/Queen.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script>

        let activeGame = new Game();

        let gameView = new Vue({
            el: '#game',
            data: {
                activeGame,
                msg: 'Moves Made'
            },
            computed: {
                infoMessage: function(){
                    if(activeGame.inProgress){
                        return "It is " + activeGame.currentTurn + "\'s turn!";
                    }
                    if(activeGame.winner){
                        return activeGame.winner + " wins!";
                    }
                    if(!activeGame.winner && !activeGame.inProgress){
                        return "Stalemate!";
                    }
                }
            }
        })
    </script>
</body>
</html>